/*Fonts*/
$mainFont: "Georgia Regular", sans-serif;
/*Block background colors*/
$pageBackground : #1f1f1f;
$containerBackground :#ffffff;
$carouselBackground : #f2f2f2;
$carouselInnerBorder : #e6e6e6;
$propertiesBorder : #e2e2e2;
$footerBackground : #3b3b3b;
$copyBackground : #2e2e2e;
/*Text colors*/
$greenColor : #81b300;
$blackColor : #333333;
$greyColor : #999999;
$whiteColor : #ffffff;
$placeHolderColor : #7f7f7f;
$propertyColor : #888888;
$projectsTitleColor : #444444;
$projectsColor : #878787;
$footerTitleColor : #666666;
$copyColor : #737373;


