.b-copyrights {
    min-height: 60px;
    background-color: $copyBackground;
    color: $greyColor;
    line-height: 60px;
    padding: 0 15px;
  
    &_cancelPadding {
      margin-left: 0px;
      margin-right: 0px;
    }
  
    &__left {
  
      &_decor {
        float: left;
  
        @include media-breakpoint-down(sm) {
          float: none;
        }
      }
    }
  
    &__right {
  
      &_decor {
        float: right;
  
        @include media-breakpoint-down(sm) {
          float: none;
        }
      }
    }
  }