.b-property{
    &__image{
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    &__caption{
    color: $greenColor;
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    margin-bottom: 20px;
    text-align: center;
    }
    &__description{
    color: $propertyColor;
    font-family: $mainFont;
    font-size: 13px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: justify;    
    }
}