.b-social{
    padding-left: 0px;
    padding-right: 0px;
    &__strap {
        position: relative;
        z-index: 2;
        top: 0;
        background-color: #81b300;
        height: 5px;
        width: 100%;
    }
    &__tab{
        position: absolute;
        top: -27px;
        right : 30px;
        z-index: 1;
        background-color: #81b300;
        border-bottom-left-radius: 17px;
        border-bottom-right-radius: 17px;
        width: 251px;
        height: 49px;
        transition-property: top;
        transition-duration: 0.5s;
    }
    &__tab:hover{
        top: 0px;
    }
    &__list{
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        padding: 8px 12px 9px 13px;
    }
    &__link{
        display: block;
        font-size: 16px;
        height: 32px;
        width: 32px;
        background-color: #1f1f1f;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        color: #ffffff;
    }
    &__link:hover{
        cursor: pointer;
        background-color: #00acee;
    }
}